*.iml
.gradle/
.gradle
local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.hprof

# Gradle: scripts y configuración local
gradle/
gradlew
gradlew.bat
gradle.properties
